{% extends 'crmadmin/table_index.html' %}
{% load my_tags %}
{% load crm_tags %}
{% block extra-css-rseources %}
    <style>
    .filter-select-box{
        height: 250px!important;
        width: 100%;
        border-radius: 5px;
    }
    </style>
{% endblock %}
{% block container %}
<h1>
修改——{% render_table_name admin_table %}
</h1>
    <div class="col-lg-8">
        <form method="post" class="form-horizontal" onsubmit="return submit_all_content()">
            {% csrf_token %}
            {% for field in modelform %}
            <div class="form-group" >
                <label for="inputEmail3" class="col-sm-2 control-label"{% if not field.field.required %} style="font-weight: normal" {% endif %}>
                    {{ field.label }}
                </label>
                <div class="col-sm-8">
                    {% if field.name in admin_table.filter_horizontal %}
                        <div class="col-sm-4">
                        <div>未选：</div>
                        <select multiple="multiple" class="filter-select-box" id="id_{{ field.name }}_from" name="{{ field.name }}_old" {% if field.name in admin_table.readonly_fields %}disabled="disabled"{% endif %}>
                            {% get_m2m_obj admin_table field modelform as m2m_option %}
                            {% if field.name not in admin_table.readonly_fields %}
                                {% for op in m2m_option %}
                                    <option value="{{ op.id }}" ondblclick="MoveElementTo(this, 'id_{{ field.name }}_to')">{{ op }}</option>
                                {% endfor %}
                            {% else %}
                                {% for op in m2m_option %}
                                    <option value="{{ op.id }}">{{ op }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        </div>
                        <div class="col-sm-1" style="line-height: 250px">
                        <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-4">
                        <div>已选：</div>
                            {{ modelform.instance.field.all }}
                        <select multiple="multiple" class="filter-select-box"  id="id_{{ field.name }}_to" tag="chosen_list" name="{{ field.name }}" {% if field.name in admin_table.readonly_fields %}disabled="disabled"{% endif %}>
                            {% get_m2m_select_obj modelform field as select_options %}
                        {% if field.name not in admin_table.readonly_fields %}
                            {% for op in select_options %}
                            <option value="{{ op.id }}" {% if field.name not in admin_table.readonly_fields %}ondblclick="MoveElementTo(this, 'id_{{ field.name }}_from')"{% endif %}>{{ op }}</option>
                            {% endfor %}
                        {% else %}
                            {% for op in select_options %}
                                <option value="{{ op.id }}" ondblclick="MoveElementTo(this, 'id_{{ field.name }}_from')">{{ op }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                        </div>
                    {% else %}
                        {{ field }}<span style="color: gray">{{ field.help_text|safe }}</span><span style="color: red">{{ field.errors.as_text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div style="color: red">{% __all__errors modelform.errors as judge_errors%}{% if judge_errors %}{{ judge_errors }}{% endif %}</div>
            {% if not admin_table.readonly_table %}
            <div class="col-sm-5">
                <a href="{% url 'table_obj_delete' app_name table_name obj_id %}"><button type="button" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Delete</span></button></a>
            </div>
            <div class="col-sm-5">
                <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
            {% endif %}
        </form>
    </div>

    <script>
    function MoveElementTo(ele, to_parent_ele){
        let parent_id = $(ele).parent().attr('id');
        option_ele = '<option value="'+$(ele).val()+'" ondblclick="MoveElementTo(this,\'' + parent_id +'\')">'+$(ele).text()+'</option>';
        $(ele).remove();
        $('#' + to_parent_ele).append(option_ele);
    }
    function submit_all_content() {
        $("select[tag='chosen_list'] option").prop("selected",true);
        $("form *[disabled='disabled']").prop("disabled",'');
        return true;
    }
    </script>
{% endblock %}
