{% extends 'base.html' %}
{% load my_tags %}
 {% block body %}
     <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">PerfectCRM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.name }} <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li class="dropdown-header">欢迎使用</li>
                             <li><a href="#">我的账户</a></li>
                             <li><a href="/crm-admin/crm/userprofile/{{ request.user.id }}/change/password/">修改密码</a></li>
                             <li><a href="{% url 'acc_logout' %}">注销</a></li>
                         </ul>
                     </li>
                 </ul>
             </div>
          </div>
        </nav>
        <div class="container-fluid" style="margin: 50px; width: auto">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                  {% for role in request.user.roles.select_related %}
                      {% for menus in role.menu.select_related %}
                          <li class=""><a href="{% if menus.url_type %}{{ menus.url_name }}{% else %}{% url menus.url_name %}{% endif %}">{{ menus.menu_name }} <span class="sr-only">(current)</span></a></li>
                      {% endfor %}
                  {% endfor %}
              </ul>
            </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block container %}
                    <ol class="breadcrumb">
                        <li  class="active">Home</li>
                    </ol>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Home</h3>
                            </div>
                        <div class="panel-body">
                            {% for app_name,app_tables in table_list.items %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td><a href="{% url 'tables_of_app' app_name %}">{{ app_name }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for table_name, table_admin in app_tables.items %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'table_objs' app_name table_name %}">
                                                {% render_table_name table_admin %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'table_obj_add' app_name table_name %}">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                                    添加
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                        </div>
                {% endblock %}
                </div>
            </div>
        </div>
     </body>
 {% endblock %}
